NODE_ENV=development
APP_NAME=nestjs-bootstrap
APP_PORT=3000
API_PREFIX=api
API_VERSION=1
SWAGGER_ENABLED=true
SWAGGER_PATH=docs
CORS_ENABLED=true
CORS_ORIGIN=*
RATE_LIMIT_TTL_SECONDS=60
RATE_LIMIT_MAX=100
